<%= simple_form_for @listing, html: { multipart: true }  do |f| %>
  <%= f.error_notification %>
  <div class="columns is-centered">
    <div class="column is-half">

      <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="field">
      <div class="control">
      	<%= f.input :title, label: "Name", input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
      </div>
    </div>

    <div class="field">
    	<div class="control">
      	<%= f.input :description, label: "Description", input_html: { class: "textarea"}, wrapper: false, label_html: { class: "label" } %>
      </div>
    </div>

    <div class="field">
    	<div class="control">
      	<%= f.input :price, label: "Price", input_html: { class: "number", min: 0 }, wrapper: false, label_html: { class: "label" } %>
      </div>
    </div>

    <div class="field">
    	<div class="control">
      	<%= f.input :potion_image, label: "Image", input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
      </div>
    </div>

    <% if @listing.potion_image.attached? %>
      <%= image_tag @listing.potion_image %>
    <% end %>

    <div class="field">
    	<div class="control">
      	<%= f.button :submit, class:"button is-primary" %>
      </div>
    </div>
    
  </div>
</div>

 
<% end %>