<section class="section">
  <div class="listings">
    <% @listings.each do |listing| %>
      <div class="listing-grid-item">
        <div class="listing-wrapper">
          
        <%= link_to listing, class: "listing" do %>
        <h3 class="listing-title"><%= listing.title %></h3>
        <% if listing.potion_image.attached? %>
          <%= image_tag listing.potion_image %>
        <% else %>
          <%= image_tag "default.jpeg" %>
        <% end %>
          <div class="listing-data">
            <div class="listing-description"><%= truncate(listing.description, length: 60) %></div>
            <div class="listing-time">
              <%= time_ago_in_words(listing.created_at) %>
            </div>
          </div>
        <% end %>

        <nav class="level listing-analytics">
          <div class="level-left">
            <div class="listing-price"> <%= '$%0.2f' % [listing.price] %> </div>
          </div>
          <div class="level-right">
            <div class="level-item views data">
              <%= link_to listing do %>
                <span class="icon"><i class="fa fa-eye"></i></span>
                <%= listing.impressions.count %>
              <% end %>
            </div>
            <div class="level-item comments data">
              <%= link_to listing do %>
                <span class="icon"><i class="fa fa-comment"></i></span>
                 <%= listing.comments.count %>
              <% end %>
            </div>
          </div>
        </nav>
        </div>
        <div class="user-data">
          <div class="user-name"><%= listing.user.name %></div>
        </div>
      </div>
    <% end %>
  </div>
</section>