<!DOCTYPE html>
<html>
  <head>
    <title>Alchemy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
          <h1 class="title is-5 has-text-white">Alchemy</h1>
        <% end  %>
      <div class="navbar-burger burger" data-target="navbar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

      <div id="navbar" class="navbar-menu">

        <div class="navbar-start">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <%= link_to 'Listings', listings_path , class:"button is-dark" %>
              </p>
              <% if user_signed_in? %>
              <div class="control is-dark button">
                <%= form_with url: "/search", method: :get do |form| %>
                  <%= form.label :find_potion %>
                  <%= form.text_field :query %>
                  <%= form.submit :search , input_html: { class:"button is-dark" }%>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <% if user_signed_in? %>
              <p class="control">
                <%= link_to new_listing_path, class:"button is-primary"  do %>
                  <span class="icon is-small"><i class="fa fa-flask"></i></span>
                  <span>Sell Potion</span>
                <% end %>
              </p>
              <p class="control">
                <%= link_to current_user.name, edit_user_registration_path, class:"button is-dark" %>
              </p>
              <p class="control">
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"button is-dark" %>
              </p>
              <%= link_to cart_path, class:"button is-primary"  do %>
                  <span class="icon is-small"><i class="fa fa-shopping-cart"></i></span>
                  <span>My Cart</span>
                <% end %>
              <% else %>
              <p class="control">
                 <%= link_to "Login", new_user_session_path, class:"button is-dark" %>
              </p>
              <p class="control">
                <%= link_to "Sign up", new_user_registration_path, class:"button is-dark"%>
              </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav> 

    <!-- Flash will appear just under nav bar -->
    <% if flash[:notice] %>
    	<div class="notification is-primary global-notification">
  	  	<p class="notice"><%= notice %></p>
    	</div>
   	<% end %>
    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>

    <!-- Individual pages will yield here -->
    <%= yield %>

    <!-- Javascript needed for navbar -->
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
      </script>
  </body>
</html>
